[Unit]
Description=Architect
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/architect
ExecStart=/opt/architect/architect.mjs
EnvironmentFile=/opt/architect/.env

[Install]
WantedBy=multi-user.target
